.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;

}

.flex-container:hover{
  background-color: #e5e5e5;
}
/* .sub-container{
  flex-wrap: nowrap;
} */



.name{
  margin-left: 20px;
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
}

.id{
  font-family: 'Noto Sans', sans-serif;
}

.red-btn{
  background-color:#C32826;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

.red-btn:hover{
  background-color: #800000;
}
.white-txt{
  color:#e5e5e5;
}