*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.home-button {
    margin: 10px 30px;
    margin-right: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: #ADADAD;
    font-size: 20px;
    display: inline-block;
}

.pk-name {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    color: #C32826;
    font-size: 20px;
    text-transform: capitalize;

}

.p-container {
    margin: 20px 15%;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px;
    padding: 0 100px;
}

.pk-img-col {
    flex: 1;
}

.pk-img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.types{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.type-text{
    padding: 4% 4%;
    color: white;
    border-radius: 10px;
}

.sprite-col {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.sprite-img {
    width: 100px;
    height: 100px;
}

.name-header {
    color: #3a3a3a;
    margin: 0px 30px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3a3a3a;
}

.bs-header {
    margin: 0px 30px;
    color: #3a3a3a;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3a3a3a;
}

.bs-container {
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    margin: 10px 30px;
    padding: 10px 10px;
}

.bs-card{
    text-align: center;
}

.bs-info {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: #ADADAD;
    margin-bottom: 20px;
}

.bs-num {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.m-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    margin: 10px 30px;
}

.m-button {
    margin: 10px 5px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
    font-size: 20px;
}

.normal {
    background-color: #A6AB72;
}

.fire {
    background-color: #FE7B00;
}

.fighting {
    background-color: #CF1001;
}

.water {
    background-color: #6787F7;
}

.flying {
    background-color: #B084F6;
}

.grass {
    background-color: #57D03F;
}

.poison {
    background-color: #AD20A3;
}

.electric {
    background-color: #FCD400;
}

.ground {
    background-color: #E3C356;
}

.psychic {
    background-color: #FF3C83;
}

.rock {
    background-color: #BAA310;
}

.ice {
    background-color: #87DADA;
}

.bug {
    background-color: #A1BE00;
}

.dragon {
    background-color: #8100FF;
}

.ghost {
    background-color: #774F9C;
}

.dark {
    background-color: #745845;
}

.steel {
    background-color: #B9B6D2;
}

.fairy {
    background-color: #FA91AA;
}

.unknown {
    background-color: #57A390;
}
